<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .hover:hover {
            font-weight: 900;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        /** @type {import('tailwindcss').Config} */
        tailwind.config = {
            content: ["./templates/*.html"],
            theme: {
                mode: 'jit',
                extend: {
                    fontFamily: {
                        'oswald': ['Oswald', 'sans-serif']
                    },
                    colors: {
                        "main-green": "#005035",
                        "gold1": " #a49665",
                        "darker-green": "#233a30",
                        "gold2": "#ad9651",
                        "main-gray": "#222",
                        "main-gold": "#a49665"
                    }
                },
            },
            plugins: [],
        }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} - Faculty Connections</title>
    <link rel="icon" type="image/x-icon"
        href="https://directory.charlotte.edu/sites/all/themes/epsilon-theme-drupal7/favicon.ico">
    <link rel="stylesheet" href="../static/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"/> -->
</head>

<body class="bg-main-green flex flex-col h-screen">
    <header class="bg-main-green p-4 flex justify-center items-center border-solid border-b-8 border-b-gold1 space-x-4">
        <img alt="UNC Charlotte" class="h-16" src="https://brand.charlotte.edu/sites/all/themes/uncc_epsilon/logo.svg">
        <h1 class="text-white text-4xl ml-2 font-oswald">Faculty Connections Update Tool</h1>
    </header>
    <nav class="bg-white shadow-md px-8">
        <ul class="flex justify-around p-3">
            <li><a href="/">Home</a></li>
            <li><a href="/search-profiles">Search Profiles</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/manual-entry">Manual Entry</a></li>
            <li><a href="/help">Help</a></li>

        </ul>
    </nav>
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <ul class="bg-red-400 text-white p-2">
        {% for message in messages %}
        <li>Error: {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
    {% if messages %}
    <ul class="bg-green-400 text-white p-2">
        {% for message in messages %}
        <li>Message: {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <main class="p-4 flex-grow">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-white p-2 text-center relative bottom-0 w-screen">
        <small>ITSC 4155 Team 15</small>
    </footer>
</body>

</html>