{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block content %}
<h1>Help</h1>
<hr>
<div>
    <h2>How to use the scheduler:</h2>
    <p>To schedule an update, simply click on the start date on the calendar and enter the details of the update, such as it’s frequency or update sources. To manually enter a start date, type it in MM/DD/YYYY format.</p>
</div>
<div>
    <h2>How to use manual entry:</h2>
    <p>In addition to scraping other websites, you can also manually enter the faculty information of individuals in specific fields, such as “name”, “profile”, “image”, “location”, “phone number”, etc.</p>
</div>

<div>
    <h2>Something Broken?</h2>
    <p>We can be reached at: <br> faculty-connections@uncc.edu</p>
</div>
{% endblock %}