{% extends "base.html" %}
{% from 'macros.html' import autocomplete_faculty_search_bar %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto px-4">

    <div class="mt-0 m-4">
        <h1 class="text-3xl font-bold text-white">Home</h1>
        <hr class="my-4">
        <div class="bg-white p-4 rounded-lg shadow-md">
            <div class="my-4">
                
                <h2 class="text-2xl font-bold mb-2">Database Stats:</h2>
                {% if last_updated %}

                    <h2 class="font-bold">Last Updated: </h2>
                    <p class="text-gray-500">{{last_updated}}</p> 
                {% endif %}
                    <h2 class="font-bold">Number of Faculty: </h2>
                    <p class="text-gray-500">{{num_faculty}}</p>
                <style>
                    .ui-dialog-titlebar-close{
                        display: none;
                    }
                </style>
                <script>
                    $( function() {
                      $( "#trash-dialog" ).dialog({
                        resizable: false,
                        autoOpen: false,
                        draggable:false,
                        height: "auto",
                        width: 400,
                        modal: true,
                        buttons: [
                            {
                                text: "Delete",
                                click: function() {
                                    let _id = window.location.href.split('=').pop();
                                    $.ajax({
                                        url: '/delete/all_entries',
                                        type: 'DELETE',
                                        success: () => {
                                            window.location.href = '/'
                                        },
                                        error: () => {
                                            alert("An error occured");
                                            $(this).dialog("close");
                                        } 
                                    })
                                },
                                "class": "bg-red-700 focus:text-white focus:font-bold focus:bg-red-700 hover:bg-red-700 active:font-bold active:bg-red-500 hover:text-white hover:font-bold text-white font-bold py-2 px-4 rounded mt-4 cursor-pointer"
                            },
                            {
                                text: "Cancel",
                                click: function() {
                                    $( this ).dialog( "close" );
                                },
                                "class": "bg-main-green focus:text-white focus:font-bold focus:bg-main-green hover:bg-main-green active:font-bold active:bg-green-700 hover:text-white hover:font-bold text-white font-bold py-2 px-4 rounded mt-4 cursor-pointer"
                            }
                        ],
                      });
                      $( "#trash" ).on( "click", () => {
                        $( "#trash-dialog" ).dialog( "open" );
                        });
                    } );
                    </script>
                    {% if (job is defined) and (next_scrape is defined) %}
                        <h2 class="font-bold">Current schedule:</h2>
                        <p class="text-gray-500">Repeat on months: {{ job['months'] }}<br>Repeat on days: {{ job['days'] }}<br>
                        There {{'is' if next_scrape['months'] == 1 else 'are'}} {{ next_scrape['months'] }} month{{'' if next_scrape['months'] == 1 else 's'}},
                        {{ next_scrape['days'] }} day{{'' if next_scrape['days'] == 1 else 's'}},
                        {{ next_scrape['hours'] }} hour{{'' if next_scrape['hours'] == 1 else 's'}},
                        and {{ next_scrape['minutes'] }} minute{{'' if next_scrape['minutes'] == 1 else 's'}} remaining until the next update</p>
                    {% endif %}
                    {% if not scraper_running %}
                    <div id="trash-dialog" title="Wipe database?" hidden>
                        <p><span style="float:left; margin:12px 12px 20px 0;"></span>All entries in the database will be permanently deleted.</p>
                    </div>
                    <!-- trash can -->
                
                    {% endif %}
                    <form class="items-center space-x-2 flex flex-row" action="{{url_for('csv_download')}}">
                        <button type="submit" name="for" value="wordpress" class="bg-main-green enabled:hover:bg-green-700 disabled:opacity-75 text-white font-bold py-2 px-4 rounded mt-4" {{ 'disabled' if scraper_running else '' }}>Export For Faculty Connections</button>
                        <button type="submit" name="for" value="contact_info" class="bg-main-green enabled:hover:bg-green-700 disabled:opacity-75 text-white font-bold py-2 px-4 rounded mt-4" {{ 'disabled' if scraper_running else '' }}>Export Contact Info</button>
                        <button type="button" id="trash" class="bg-main-green enabled:hover:bg-green-700 disabled:opacity-75 text-white font-bold py-2 px-4 rounded mt-4 enabled:cursor-pointer" {{ 'disabled' if scraper_running else '' }}>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -2 24 24" width="24" fill="currentColor">
                                <path
                                    d="M6 2V1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h4a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-.133l-.68 10.2a3 3 0 0 1-2.993 2.8H5.826a3 3 0 0 1-2.993-2.796L2.137 7H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h4zm10 2H2v1h14V4zM4.141 7l.687 10.068a1 1 0 0 0 .998.932h6.368a1 1 0 0 0 .998-.934L13.862 7h-9.72zM7 8a1 1 0 0 1 1 1v7a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v7a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z">
                                </path>
                            </svg>
                        </button>
                    </form>
                    
                    </div>

            
               
            <div class="my-4">
                {% if not scraper_running %}    
                <h2 class="text-2xl font-bold mb-2">Run Scraper:</h2>
                <form class="flex flex-col" method="post">
                    <h3 class="font-bold">Manual update</h3>

                    <label for="all" class="inline-flex items-center mt-2">
                        <input type="radio" id="all" name="update" value="All" class="form-radio" checked>
                        <span class="ml-2">All</span>
                    </label>

                    <label for="member" class="inline-flex items-center mt-2">
                        <input type="radio" id="member" name="update" value="ByMember" class="form-radio">
                        <span class="ml-2">By faculty member:</span>
                    </label>
                    {{ autocomplete_faculty_search_bar(submit_on_select=False, classes="border-gray-400 border rounded form-input px-1 mt-1")}}
                    <script>
                        $(function () {
                            $('#member_input').prop('disabled', true);
                            $('#member').click(() => {
                                $('#member_input').prop('disabled',false);
                                if ($('#_id_input').val()) {
                                    $('#formSubmit').prop('disabled',false);
                                } else {
                                    $('#formSubmit').prop('disabled',true);
                                }
                            });
                            $('#all').click(() => {
                                $('#member_input').prop('disabled',true);
                                $('#formSubmit').prop('disabled', false);
                            });
                            $('#member_input').on('input',() => {
                                if ($('#_id_input').val()) {
                                    $('#formSubmit').prop('disabled',false);
                                } else {
                                    $('#formSubmit').prop('disabled',true);
                                }
                            })
                        });
                        
                    </script>
                    <h3 class="font-bold mt-2">Where to search</h3>

                    <label for="directory" class="inline-flex items-center mt-2">
                        <input type="checkbox" id="directory" name="directory" value="Directory" class="form-checkbox">
                        <span class="ml-2">Faculty directory</span>
                    </label>
                    <label for="facstaff" class="inline-flex items-center mt-2">
                        <input type="checkbox" id="facstaff" name="facstaff" value="Facstaff" class="form-checkbox">
                        <span class="ml-2">facstaff (Contact Info)</span>
                    </label>
                    <label for="scholar" class="inline-flex items-center mt-2">
                        <input type="checkbox" id="scholar" name="scholar" value="Scholar" class="form-checkbox">
                        <span class="ml-2">Google Scholar</span>
                    </label>

                    <button type="submit" id="formSubmit" class="bg-main-green enabled:hover:bg-green-700 disabled:opacity-75 text-white font-bold py-2 px-4 rounded mt-4">Confirm</button>
                </form>
                {% else %}
                <h2 class="text-2xl font-bold mb-2">Scraper Output:</h2>
                <div class="text-white bg-stone-800 rounded-md border overflow-auto h-80 flex flex-col-reverse">
                    <samp class="m-2 text-xs space-y-3 whitespace-pre-line" id="scraperOutput"></samp>
                    <script>
                        $(function (){

                            const update_output = (new_text) => {
                                $('#scraperOutput').html((i, oldHtml) => oldHtml + `<div>${new_text}</div>` )
                            }

                            const socket = new WebSocket(`ws://${location.host}/scraper_output`);

                            socket.addEventListener('message', event => {
                                update_output(event.data);
                            })
                            // wait 5 seconds and then refresh the page when the scraper finishes
                            socket.addEventListener('close', event => {
                                setTimeout(() => window.location.reload(), 500 )
                            })
                        });
                        
                    </script>
                </div>
                {% endif %}
            </div>  
            
            

        </div>
    </div>
</div>
{% endblock %}
