{% extends "base.html" %}
{% from 'macros.html' import autocomplete_faculty_search_bar %}
{% block title %}Manual Entry{% endblock %}
{% block content %}

<div class="max-w-2xl mx-auto px-4">
  <h1 class="text-3xl font-bold mb-4 border-solid text-white ">Manual Entry</h1>
  <hr class="my-4">
  <div class="bg-white p-4 rounded-lg shadow-md">
    <!--add action route and method as needed-->
    <form id="manual_entry_form" class="space-y-4" action="/manual-entry" method="post">
      <div>
        <h2 class="text-xl font-semibold mb-2">Faculty member name</h2>
        {{ autocomplete_faculty_search_bar(submit_on_select=False, classes="border px-4 py-2 rounded-lg border-gray-300 w-full")}}
      </div>
      {% if faculty_member %}
      <script>
        $(function() {
          $('#_id_input').val('{{faculty_member["_id"]}}');
        });
      </script>
      {% endif %}
      <div id="form_inputs">
        <h2 class="text-xl underline font-bold mb-2 border-solid">Fields to update</h2>
        <label for="name" class="block mb-1 font-semibold">Name</label>
        <input type="text" value="{{ faculty_member['name'] if faculty_member and faculty_member['name'] else ''}}" id="name" name="new_name" class="border px-4 py-2 rounded-lg border-gray-300 w-half" required>

        <label for="department" class="block mb-1 font-semibold">Department</label>
        <input type="text" value="{{ faculty_member['department'] if faculty_member and faculty_member['department'] else ''}}" id="department" name="department" class="border px-4 py-2 rounded-lg border-gray-300 w-half" required>

        <label for="profile" class="block mb-1 font-semibold mt-2">Profile HTML</label>
        <textarea id="profile" name="profile" rows="4" cols="20" class="border px-4 py-2 rounded-lg border-gray-300 w-half" required>
          {{ faculty_member['rawHtml'] if faculty_member and faculty_member['rawHtml'] else ''}}
        </textarea>

        <label for="email" class="block mb-1 font-semibold">Email</label>
        <input type="email" value="{{ faculty_member['email'] if faculty_member and faculty_member['email'] else ''}}" id="email" name="email" class="border px-4 py-2 rounded-lg border-gray-300 w-half">

        <label for="number" class="block mb-1 font-semibold mt-2">Phone Number</label>
        <input type="tel" value="{{ faculty_member['tel'] if faculty_member and faculty_member['tel'] else ''}}" id="number" name="number" class="border px-4 py-2 rounded-lg border-gray-300 w-half">

        <label for="location" class="block mb-1 font-semibold mt-2">Location</label>
        <input type="text" value="{{ faculty_member['address'] if faculty_member and faculty_member['address'] else ''}}" id="location" name="location" class="border px-4 py-2 rounded-lg border-gray-300 w-half">

        <label for="url" class="block mb-1 font-semibold">URL</label>
        <input type="text" value="{{ faculty_member['url'] if faculty_member and faculty_member['url'] else ''}}" id="url" name="url" class="border px-4 py-2 rounded-lg border-gray-300 w-half" required><br><br>
        <!--<label for="image" class="block mb-1 font-semibold mt-2">Upload Image</label>
        <input type="file" id="image" name="image" class="mb-4">-->

        <button id="help" type="submit" class="bg-main-green hover:bg-green-700 text-white py-2 px-4 rounded-lg font-semibold">Confirm</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
